
{% extends 'base.html' %}

{% block head %}
    <title>maintain</title>
{% endblock %}
{% block body %}
    <div class="align-left">


    </div>
    <div class="container">
        <table align="center">
                <tr> <td>  <h2>Maintenance</h2>
                    <br>
                    <form method="post">

                         {% csrf_token %}
                         {{ form.as_p }}
                        <br>
                     <button class="btn btn-default" type="submit">Submit</button>
                    </form></td>
                </tr>

        </table>

    </div>
{% endblock %}